<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('style.css') }}">
</head>
<body>
    <main>
        {% for article in articles %}
            <article>
                {#
                    Je génère un lien vers la route articleShow.
                    Cette route demande une wildcard 'id', donc je la renseigne
                    avec l'id de l'article qui est actuellement en train d'être bouclé.
                #}
                <a href={{ path('articleShow', {'id': article.id}) }}>
                    <h2>{{ article.title }}</h2>
                </a>
                <p>{{ article.content }}</p>
            </article>
        {% endfor %}
    </main>
</body>
</html>
